@font-face{
    font-family: cmp57k;
    src: url(./fonts/cmp57k.otf);
}
@font-face{
    font-family: cmp58k;
    src: url(./fonts/cmp58k.otf);
}
@font-face{
    font-family: cmp67k;
    src: url(./fonts/cmp67k.otf);
}
@font-face{
    font-family: cmp68k;
    src: url(./fonts/cmp68k.otf);
}
@font-face{
    font-family: cokb;
    src: url(./fonts/cokb.otf);
}
@font-face{
    font-family: coki;
    src: url(./fonts/coki.otf);
}
@font-face{
    font-family: cokn;
    src: url(./fonts/cokn.otf);
}
body{
    background: url(/wp-content/themes/twentysixteen/images/about_bcgr.svg) #000000;
    background-size: cover;
    background-position: center;
    padding: 0;
}
.container{
    width: 100% !important;
    max-width: 100% !important;
}
.about_head{
    font-family: cmp68k;
    font-size: xx-large;
    color: #ffbf04;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-decoration: underline;
        margin-top: 65px;
}
.ratification_block{
    width: 85%;
    height: 70vh;
    margin: 70px auto;
}
.ratification-swiper .swiper-slide{
    text-align: center;
    filter: grayscale(100%);
}
.ratification-swiper .swiper-slide:hover{
    filter: grayscale(0%);
}
.ratification-swiper .swiper-slide:not(.swiper-slide-active) img{
    margin-top: 15%;
        margin-left: 15%;
}
.ratification-swiper .swiper-slide img{
    width: 70%;
}
.ratification-swiper .swiper-slide-active{
    filter: grayscale(0%);
}
.ratification-swiper .swiper-slide-active img{
    width: 100%;
}
.swiper-button-prev .svg-icon,.swiper-button-next .svg-icon{
    position: absolute;
    display: block;
    top: 0;
    margin: auto;
    width: 27px;
    height: 44px;
    fill: #fefd7c;
}
h1.entry-title{
display:none;
}
.swiper-button-prev .svg-icon,
.swiper-button-next .svg-icon{
    fill: #ffbf04;
}
@media screen and (max-width: 840px) {
    body {
        padding: 40px 0;
    }
    .about_head{
        font-size: x-large;
    }
    .ratification_block {
        width: 90%;
        margin: 40px auto;
    }
    .ratification-swiper .swiper-slide img{
        width: 100%;
    }
    .ratification-swiper .swiper-slide:not(.swiper-slide-active) img{
        margin-top: 0;
    }
}
#form{/*display:none;*/}
body{
        font-family: pnb !important;
    }
