@font-face{
    font-family: cmp57k;
    src: url(./fonts/cmp57k.otf);
}
@font-face{
    font-family: cmp58k;
    src: url(./fonts/cmp58k.otf);
}
@font-face{
    font-family: cmp67k;
    src: url(./fonts/cmp67k.otf);
}
@font-face{
    font-family: cmp68k;
    src: url(./fonts/cmp68k.otf);
}
@font-face{
    font-family: cokb;
    src: url(./fonts/cokb.otf);
}
@font-face{
    font-family: coki;
    src: url(./fonts/coki.otf);
}
@font-face{
    font-family: cokn;
    src: url(./fonts/cokn.otf);
}
body{
    background-color: #000;
}
.content{
    width: 100%;
}
.line {
    margin-top: 0px;
}
.content_container{
    width: 75%;
   color: white;
    margin: 0% auto 0%;
}
.panel-default>.panel-heading:hover{
        background: white;
    color: black;
}
.inside-menu {
    width: 100%;
    min-height: 32px;
    margin: 50px 0;
}
.inside-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.inside-menu ul li {
    display: inline-block;
    margin: 0 5px;
}
.inside-menu ul li a {
    font-family: cmp68k;
    font-size: 30px;
    line-height: 32px;
    color: #ffffff;
        text-decoration: underline;
        margin: 0px 15px;
}
h3, .h3 {
    margin-top: 10px!important;
}
.inside-menu ul li a.active{
    color: #ffbf04;
}
.inside-menu ul li a:not(.active):hover {
    color: #ffbf04;
}
.about_service{
    width: 100%;
}
.swiper-content{
    width: 100%;
    height: 50vh;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.gallery-thumbs .swiper-slide {
    filter: grayscale(100%);
}
.gallery-thumbs .swiper-slide:hover{
    filter: grayscale(0%);
}
.gallery-thumbs .swiper-slide.swiper-slide-active{
    filter: grayscale(0%);
}
.gallery-top {
    height: 100%;
    width: 75%;
    float: left;
}
.gallery-top .swiper-wrapper .swiper-slide img{
    width: 100%;
    display: none;
}
.about_service .swiper-slide iframe{
    width: 100%;
    height: 100%;
}
h1.entry-title{
    display: none;
}
.gallery-thumbs {
    height: 100%;
    box-sizing: border-box;
    width: calc(25% - 10px);
    float: left;
    margin-left: 10px;
}
.gallery-thumbs .swiper-slide {
    width: 100%;
    height: 100%;
}
.swiper-button-next,.swiper-button-prev{
    display: none;
}
.imsound {
    height: 350px;
}
.imsound img{
    height: 350px;
}
#key{
        margin-left: 15px;
    margin-right: 15px;
    font-family: pnbb;
}
h2.head-service{
    color: #ffffff;
    font-size: x-large;
    margin-bottom: 15px;
        text-align: center;
    font-family: Arial;
   margin-top: 7% !important;
}
.panel-title>a {
    color: gold;
    font-family: pnbb;
        text-align: left;
}

.actives h4 a {
    color: black !important;
}
.actives {
    background: white !important;
    color: black !important;
}
default>.panel-heading {
    color: gold;
    background-color: black;
    border-color: #ddd;
}
.col-md-4 a{
    color:white !important;
        font-size: 20px;
}
.panel-title>a:hover,  .panel-title>a:active{
    color: black !important;
    font-family: pnbb;
        text-align: left;
}
default>.panel-heading:hover {
    color: black;
    background-color: white;
    border-color: transparent;
}
.panel-default>.panel-heading{
    color: gold;
    background-color: black;
    border-color: transparent;
}
.panel{
    background: transparent;
}
.panel-group {
    margin-bottom: 20px;
    margin-top: 5%;
}
.service-description{
    font-family: pnb;
    text-align: justify;
    font-size: 22px;
    font-weight:200;
    display: block;
}
.service-description p{
    margin-bottom: 10px;
}
.service-description.visible{
    display: block;
}
.service-description.no-visible{
    display: none;
}
.button-container{
    width: 100%;
    padding: 40px 0;
    text-align: center;
}
.button-container .btn{
    height: 42px;
    background: #e8b800;
    border: none;
    font-family: cmp68k;
    color: #000000;
    font-size: 20px;
    padding: 10px 25px;
    text-transform: uppercase;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}
.button-container .btn:hover{
    cursor: pointer;
}
@media screen and (max-width: 840px){
    .content_container{
        width: 95%;
    }
    .inside-menu ul li a{
        font-size: 26px;
        line-height: 28px;
    }
}
@media screen and (max-width: 640px){
    .inside-menu{
        margin: 30px 0;
    }
    .inside-menu ul{
        text-align: left;
    }
    .inside-menu ul li a{
        font-size: 25px;
        line-height: 27px;
    }
    .gallery-top{
        width: 100%;
    }
    .swiper-content{
        height: auto;
        display: flex;
    }
    .gallery-thumbs{
        display: none;
    }
    .swiper-slide{
        background-image: none!important;
        height: auto;
    }
    .gallery-top .swiper-wrapper .swiper-slide img{
        display: block;
    }
    .swiper-button-next,.swiper-button-prev{
        display: block;
    }
    h2.head-service{
        margin-top: 30px;
    }
    .button-container{
        padding: 30px 0;
    }
}
/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
   background: transparent;
    border: 1px solid gold;
    margin-top: 5%;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    /*padding:15px;*/
	padding: 2px 15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:transparent;
        border: 1px solid gold;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}
 li {
     color: white;
}
.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}

#inside-menu-active {
	text-decoration: underline;
}

#inside-menu-active  a{
	color: #ffffff;
}