/*portfolio*/
@font-face{
    font-family: cmp57k;
    src: url(./fonts/cmp57k.otf);
}
@font-face{
    font-family: cmp58k;
    src: url(./fonts/cmp58k.otf);
}
@font-face{
    font-family: cmp67k;
    src: url(./fonts/cmp67k.otf);
}
@font-face{
    font-family: cmp68k;
    src: url(./fonts/cmp68k.otf);
}
@font-face{
    font-family: cokb;
    src: url(./fonts/cokb.otf);
}
@font-face{
    font-family: coki;
    src: url(./fonts/coki.otf);
}
@font-face{
    font-family: cokn;
    src: url(./fonts/cokn.otf);
}
body{
    background-color: #000;
}
*{
    line-height: 0;
}
header.entry-header{
    display: none;
}
.line{
    background: url(https://realsound.kz/wp-content/uploads/2016/11/portfolio_header_bcgr.jpg);
}