@media (min-width: 320px) {
	.myvideo {height:240px;}
	#ex3 {height: 370px;}
	.service-margin {width:100%;height:20px;}
}

@media (min-width: 768px) {
	.myvideo {height:360px;}
	#ex3 {height: 470px;}
	.service-margin {width:100%;height:20px;}
}

@media (min-width: 992px) {
	.myvideo {height:540px;}
	#ex3 {height: 700px;}
	.service-margin {width:100%;height:20px;}
}

@media (min-width: 1200px) {
	.myvideo {height:540px;}
	#ex3 {height: 700px;}
	.service-margin {width:100%;height:20px;}
}